body{
    background-color: aquamarine;
}

#nav {
    background-color:darksalmon;
}

#left_container {
    float:left;
    width: 15%;
    background-color: darkgray;
}

#center_container {
    float:left;
    background-color: lightgrey;
    width:70%;

}

#right_container {
    float:left;
    width: 15%;
    background-color: darkgray;
}

.post {
    border-color: black;
    border-style: solid;
    border-color: grey;
    margin-bottom : 15px;
    background-color: azure;
}