body{
    background-color: rgb(87, 107, 100);
    padding:0px;
    margin:0px;
}

#nav {
    background-color:rgb(102, 133, 122);
    margin:0px;
    
}

.main_post {
    text-align: center;
}

#left_container {
    float:left;
    width: 15%;
    background-color: rgb(199, 89, 199);
}

#center_container {
    float:left;
    background-color: black;
    width:70%;

}

#right_container {
    float:left;
    width: 15%;
    background-color: rgb(199, 89, 199);
}

.post {
    border-style: solid;
    border-color: grey;
    margin-bottom : 15px;
    color: greenyellow;
    font-size: 18px;
}

.post h2 {
    color: lightblue;
}